:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --section-background-color: #f5f4fa;
  --header-background-color: #2f303a;
  --primery-text-color: #212121;
  --secondary-text-color: #2196f3;
  --link-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --line-fist-color: #ececec;
  --line-second-color: #eeeeee;
  --border-first-color: #afb1b8;
}

body {
  background-color: var(--primery-background-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--secondary-text-color);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list__item:not(:first-child) {
  padding-left: 50px;
}

.header-list__email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__email:hover, .header-list__email:focus {
  fill: var(--secondary-text-color);
}

.header-list__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__phone:hover, .header-list__phone:focus {
  fill: var(--secondary-text-color);
}

.header-portfolio {
  border-bottom: 1px solid var(--line-fist-color);
}

.header__logo {
  /* margin-right: 93px; */
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  text-decoration: none;
}

.header__logo-web {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--secondary-text-color);
  text-decoration: none;
  -moz-tab-size: 1;
    -o-tab-size: 1;
       tab-size: 1;
}

.site-nav__item:not(:first-child) {
  padding-left: 50px;
}

.site-nav__content {
  color: var(--secondary-text-color);
}

.site-nav__content::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.site-nav__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  width: 100%;
  background-color: var(header-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .hero {
    min-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    min-width: 480px;
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1200px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-height: 50px;
  min-width: 200px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
  cursor: pointer;
  border: none;
}

.company {
  padding-bottom: 0;
}

@media screen and (min-width: 320px) {
  .company {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .company {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .company {
    padding-top: 94px;
  }
}

.company-list {
  margin-left: -30px;
}

@media screen and (min-width: 320px) {
  .company-list {
    min-width: 290px;
    min-height: 994px;
  }
}

@media screen and (min-width: 480px) {
  .company-list {
    min-width: 450px;
    min-height: 994px;
  }
}

@media screen and (min-width: 768px) {
  .company-list {
    min-width: 738px;
    min-height: 507px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .company-list {
    min-width: 1170px;
    min-height: 251px;
  }
}

.company-list__item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .company-list__item {
    width: 354px;
    height: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .company-list__item {
    width: 270px;
    height: 251px;
  }
}

.company-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

@media screen and (min-width: 320px) {
  .company-list__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .company-list__title {
    text-align: left;
  }
}

.company-list__text {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-background-color);
}

@media screen and (min-width: 320px) {
  .details {
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .details {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .details {
    min-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .details {
    min-width: 270px;
  }
}

.details__icon {
  width: 70px;
  height: 70px;
}

.pichers {
  display: none;
}

@media screen and (min-width: 1200px) {
  .pichers {
    display: block;
  }
}

.pichers__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.pichers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pichers-list__foto {
  position: relative;
}

.pichers-list__foto:not(:first-child) {
  margin-left: 30px;
}

.pichers-list__cotanrt {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pichers-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}

.team {
  background-color: var(--section-background-color);
}

@media screen and (min-width: 320px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

@media screen and (min-width: 320px) {
  .team__title {
    margin-bottom: 30px;
  }
}

.team-list {
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list__item {
  width: 270px;
  background: var(--primery-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) {
  .team-list__item {
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .team-list__item {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    min-width: 354px;
    min-height: 536px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    min-width: 270px;
    min-height: 428px;
  }
}

.team-list__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-list__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.team-list__foto {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team-list__foto {
    min-width: 450px;
    min-height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 354px;
    min-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__foto {
    min-width: 270px;
    min-height: 260px;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  margin-left: 32px;
  margin-right: -10px;
  margin-bottom: 30px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .social-list {
    width: 206px;
  }
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--border-first-color);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.partners-title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.partners-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 30px;
  margin-bottom: 30px;
  min-width: 170px;
  min-height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list__item:hover, .partners-list__item:focus {
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-text-color);
  cursor: pointer;
}

.partners-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  fill: currentColor;
  color: currentColor;
  width: 170px;
  height: 92px;
  color: var(--border-first-color);
  border: 1px solid var(--border-first-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .partners-list__link {
    min-width: 130px;
    min-height: 92px;
  }
}

@media screen and (min-width: 480px) {
  .partners-list__link {
    min-width: 210px;
    min-height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .partners-list__link {
    min-width: 226px;
    min-height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-list__link {
    min-width: 170px;
    min-height: 92px;
  }
}

.partners-list__link:hover, .partners-list__link:focus {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.partners-list__logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list__logo:hover, .partners-list__logo:focus {
  fill: var(--secondary-text-color);
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-background-color);
}

@media screen and (min-width: 320px) {
  .footer {
    min-height: 603px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    min-height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    min-height: 252px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__container {
  margin: 0;
  padding: 0;
  /* height: 31px; */
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 232px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    margin: 0;
    text-align: left;
    width: 231px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__address {
  height: 30px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-background-color);
}

@media screen and (min-width: 1200px) {
  .footer__address {
    width: 231px;
  }
}

.footer__link {
  width: 231px;
  height: 30px;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-background-color);
}

.footer__logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.conect {
  margin: 0;
  padding: 0;
  height: 80px;
  display: inline-block;
}

@media screen and (min-width: 320px) {
  .conect {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .conect {
    margin-top: 5px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .conect {
    margin-left: 70px;
    width: 206px;
    margin-top: 12px;
  }
}

.conect__title {
  margin: 0;
  padding: 0;
  width: 145px;
  height: 16px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background-color);
  display: inline-block;
}

.conect__social {
  margin: 0;
  padding: 0;
}

.conect-social__list {
  margin: 0;
  padding: 0;
  width: 206px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conect-social__item {
  width: 44px;
  height: 44px;
}

.conect-social__item:not(:first-child) {
  margin-left: 10px;
}

.conect-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primery-background-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conect-social__link:hover, .conect-social__link:focus {
  background-color: var(--secondary-text-color);
  /* color: var(--primery-background-color); */
}

.conect-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing {
  margin: 0;
  padding: 0;
  height: 86px;
}

@media screen and (min-width: 320px) {
  .mailing {
    margin-top: 60px;
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .mailing {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .mailing {
    min-height: 156px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-top: 12px;
    min-width: 570px;
    margin-left: 93px;
    text-align: left;
  }
}

.mailing__title {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}

.form {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 320px) {
  .form {
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .form {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    min-width: 358px;
  }
}

.form__label {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--header-background-color);
}

@media screen and (min-width: 320px) {
  .form__label {
    min-width: 290px;
  }
}

@media screen and (min-width: 480px) {
  .form__label {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form__label {
    min-width: 358px;
  }
}

.form__button {
  margin: 0;
  padding: 0;
  width: 196px;
  height: 50px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primery-background-color);
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .form__button {
    margin-left: 47px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) {
  .form__button {
    margin-left: 112px;
  }
}

@media screen and (min-width: 768px) {
  .form__button {
    margin-left: 271px;
  }
}

@media screen and (min-width: 1200px) {
  .form__button {
    display: inline-block;
    margin-left: 12px;
  }
}

.form__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  fill: var(--primery-background-color);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: var(--section-background-color);
}

.filters-list__button {
  padding: 6px 22px;
  color: var(--primery-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
}

.filters-list__item {
  margin-left: 8px;
  height: 38px;
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1), cursor 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1), cursor 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1), cursor 2500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1), cursor 2500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__item :hover,
.filters-list__item :focus {
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__item-fist {
  margin-left: 0px;
}

.portfolio-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background: var(--primery-background-color);
  border: 1px solid var(--line-second-color);
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:nth-child(3n + 1) {
  margin-left: 0px;
}

.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item-web {
  position: relative;
  overflow: hidden;
}

.portfolio-list__item-overley {
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  color: var(--primery-background-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .portfolio-list__item-overley {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.portfolio-text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primery-background-color);
  border-radius: 5px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
  background-color: var(--secondary-text-color);
}

.modal-close-icon {
  fill: currentColor;
}

.modal__form {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.order__tirle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.inputs {
  width: 448px;
  height: 342px;
}

.inputs:first-child {
  margin-top: 12px;
}

.inputs:last-child {
  height: 138px;
}

.input__box {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 448px;
  height: 58px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__box:last-child {
  height: 138px;
}

.input__box:hover, .input__box:focus {
  color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.input__title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--link-text-color);
}

.input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.input:hover + .label,
.input:focus + .label {
  color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.input__text {
  margin: 0;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.check-box {
  width: 435px;
  height: 25px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid tomato; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.check-box__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.check-box:hover .check-box__input,
.check-box:focus .check-box__input {
  cursor: pointer;
  fill: currentColor;
}

.check-box__label {
  display: flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-box__icon {
  display: inline-block;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
  /* background-color: tomato; */
}

.check-box__input:checked + .check-box__icon {
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: content-box;
  background-color: var(--secondary-text-color);
}

.check-box__contract {
  color: var(--secondary-text-color);
}

.label-icon {
  position: absolute;
  margin-left: -436px;
  margin-top: 11px;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  fill: currentColor;
}

.button-check {
  margin: 0;
  margin-left: 124px;
  width: 200px;
  height: 50px;
  border: none;
  background: var(--secondary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */