.conect {
  margin: 0;
  padding: 0;

  height: 80px;
  display: inline-block;
  @media screen and (min-width: 320px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 5px;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    width: 206px;
    margin-top: 12px;
  }
}

.conect__title {
  margin: 0;
  padding: 0;
  width: 145px;
  height: 16px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background-color);

  display: inline-block;
}

.conect__social {
  margin: 0;
  padding: 0;
}
.conect-social__list {
  margin: 0;
  padding: 0;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.conect-social__item {
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.conect-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primery-background-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondary-text-color);
    /* color: var(--primery-background-color); */
  }
}

.conect-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing {
  margin: 0;
  padding: 0;
  height: 86px;

  @media screen and (min-width: 320px) {
    margin-top: 60px;
    min-width: 290px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 768px) {
    min-height: 156px;
    min-width: 738px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    min-width: 570px;
    margin-left: 93px;
    text-align: left;
  }
}

.mailing__title {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primery-background-color);
}
