.filters-list {
  display: flex;

  border-color: var(--section-background-color);

  @media screen and (min-width: 320px) {
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filters-list__button {
  padding: 6px 22px;
  color: var(--primery-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
}

.filters-list__item {
  height: 38px;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 2500ms cubic-bezier(0.4, 0, 0.2, 1), cursor 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  & :hover,
  & :focus {
    background-color: var(--secondary-text-color);
    color: var(--primery-background-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 320px) {
    margin-bottom: 15px;
    margin-left: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 8px;
    margin-bottom: 0;
  }
}

.filters-list__item-fist {
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}
