.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-background-color);
  @media screen and (min-width: 320px) {
    min-height: 603px;
  }
  @media screen and (min-width: 768px) {
    min-height: 463px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 252px;
  }
}

.footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__container {
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    width: 232px;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    text-align: left;
    width: 231px;
  }
}

.footer__container-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer__address {
  height: 30px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-background-color);

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer__link {
  width: 231px;
  height: 30px;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
}
