.form {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  @media screen and (min-width: 320px) {
    min-width: 290px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.form__label {
  margin: 0;
  padding: 0;
  padding-left: 16px;

  height: 50px;

  @media screen and (min-width: 320px) {
    min-width: 290px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--header-background-color);
}

.form__button {
  margin: 0;
  padding: 0;

  width: 196px;
  height: 50px;
  display: block;
  @media screen and (min-width: 320px) {
    margin-left: 47px;
    margin-top: 20px;
  }
  @media screen and (min-width: 480px) {
    margin-left: 112px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 271px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 12px;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;

  color: var(--primery-background-color);
  background-color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.form__icon {
  align-items: center;
  text-align: center;
  fill: var(--primery-background-color);
}
