.hero {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(header-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0;
  padding: 0;
  margin-left: 237px;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}

.hero__button {
  min-height: 50px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
  cursor: pointer;
  border: none;
}
