.site-nav {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 387px;
    margin-left: 93px;
  }
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    text-decoration: none;
    tab-size: 1;
  }
}

.site-nav__item:not(:first-child) {
  padding-left: 50px;
}

.site-nav__content {
  color: var(--secondary-text-color);
  &::after {
    content: '';
    position: absolute;
    display: block;

    width: 100%;
    height: 4px;
    bottom: 0;

    background: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
}

.site-nav__list {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    min-width: 294px;
    min-height: 48px;
    margin-top: 32px;
    margin-left: 88px;
  }
}
