.team {
  background-color: var(--section-background-color);
  @media screen and (min-width: 320px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  margin-left: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  width: 270px;
  background: var(--primery-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;

  @media screen and (min-width: 320px) {
    min-width: 260px;
    min-height: 422px;

    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 622px;
  }
  @media screen and (min-width: 768px) {
    min-width: 354px;
    min-height: 536px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 270px;
    min-height: 428px;
  }
}

.team-list__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-list__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.team-list__foto {
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 460px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-width: 354px;
    min-height: 374px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 270px;
    min-height: 260px;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  //padding-bottom: 30px;
  //margin-left: 32px;
  margin-right: -10px;
  margin-bottom: 30px;

  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--border-first-color);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondary-text-color);
    color: var(--primery-background-color);
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
