// $primery-background-color: #ffffff;
// $secondary-background-color: #e5e5e5;
// $section-background-color: #f5f4fa;
// $header-background-color: #2f303a;
// $primery-text-color: #212121;
// $secondary-text-color: #2196f3;
// $link-text-color: #757575;
// $footer-text-color: rgba(255, 255, 255, 0.6);
// $line-fist-color: #ececec;
// $line-second-color: #eeeeee;
// $border-first-color: #afb1b8;

:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --section-background-color: #f5f4fa;
  --header-background-color: #2f303a;
  --primery-text-color: #212121;
  --secondary-text-color: #2196f3;
  --link-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --line-fist-color: #ececec;
  --line-second-color: #eeeeee;
  --border-first-color: #afb1b8;
}
